<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link rel = "stylesheet" href ="/app.css">
<div class="flex-container">
    <div class="container">
        <h1>JOIN US</h1>
       <p class="lead"> Enter your email to join. We have <strong><%=data%></strong> users.</p>
        <form method="POST" action='/register'>
            <input type="text" name="email" class="form" placeholder="Enter Your Email">
            <button>Join Now</button>
        </form>
    </div>
</div>

